* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #444451;
    color: #fff;
}

.screen {
    width: 205px;
    height: 75px;
    background-color: #fff;
    box-shadow: -1px 9px 28px 0px rgba(153, 153, 153, 1);
    margin-bottom: 10px;
}

.seat {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin: 5px;
    background-color: gray;
}

.seat.reserved {
    background-color: #fff;
}

.seat.selected {
    background-color: goldenrod;
}

.seat:not(.reserved):hover {
    cursor: pointer;
    transform: scale(1.3);
}

.row {
    display: flex;
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.movieList {
    margin: 10px 0;
}

.info {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #777;
    display: flex;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.text {
    margin-top: 10px;
}

.text span {
    color: goldenrod;
}
